body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.timer-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    max-width: 100%;
}

.timer-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.timer-container input {
    font-size: 18px;
    padding: 10px;
    width: 80px; /* 幅を広げて4桁まで表示可能に */
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
}

.timer-container button {
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 100%;
}

.timer-container button:hover {
    background-color: #45a049;
}

#time {
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .timer-container {
        width: 100%;
        padding: 20px;
    }

    #time {
        font-size: 48px;
    }

    .timer-container input {
        width: calc(50% - 10px);
        margin-right: 5px;
    }

    .timer-container button {
        width: calc(50% - 10px);
        margin-right: 5px;
    }
}
