body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* 背景色をライトグレーに */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#timer-container {
    background-color: #ffffff;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="number"] {
    font-size: 1.5em;
    padding: 5px;
    width: 60px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#countdown-display {
    font-size: 3em;
    margin-top: 20px;
    font-weight: bold;
}
